@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

$body-font-family: 'Noto Sans TC';

.v-application {
  font-family: $body-font-family, sans-serif !important;
}
